*{
    -fx-font-family: sans-serif;
}

.mainPane{
    -fx-background-color: #eceff1;
}

.toolbarPane{
    -fx-background-color: white;
    -fx-pref-height: 56;
    -fx-padding: 20 0 20 0;
}

.toolbarPane VBox {
    -fx-alignment: CENTER;
}

.toolbarTitle {
    -fx-text-alignment: CENTER;
    -fx-text-fill: #454545;
    -fx-font-size: 28;
}

Button{
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-padding: 5 20 5 20;
}

Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.orangeButton{
    -fx-background-color: white;
}

.orangeButton FontIcon {
    -fx-icon-color: rgba(255, 165, 0, 0.8);
}

.orangeButton:hover FontIcon {
    -fx-icon-color: orange;
}

.grayButton{
    -fx-background-color: white;
}

.grayButton FontIcon {
    -fx-icon-color: #696969;
}

.grayButton:hover FontIcon {
    -fx-icon-color: #454545;
}

FontIcon{
    -fx-font-size: 38px;
}