#bookItemView{
    -fx-max-width: 650;
    -fx-background-color: transparent;
    -fx-padding: 20 0 10 0;
}

.bookItemCard {
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.bookItemCard:hover{
    -fx-cursor: hand;
}

.bookItemCard Label {
    -fx-text-fill: #212121;
}

#bookEntryTitle{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#bookEntryAuthor, #bookEntryYearPublished{
    -fx-font-size: 20;
}

.bookEntryImage {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.bookEntryInfo {
    -fx-padding: 20 30 0 30;
}